.report-form {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: 10px;
}

.report-form label {
  font-weight: 600;
}

.report-form input {
  padding: 2px 4px;
  font-size: 10px;
  border-radius: 4px;
  border: 1px solid #999;
}

.report-form button {
  margin-top: 6px;
  padding: 2px 4px;
  font-size: 10px;
  border-radius: 4px;
  border: 1px solid #0115a9;
  background-color: #0115a9;
  color: #fff;
  cursor: pointer;
}

.report-form button:hover {
  background-color: #021090;
}
