.search-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 40%;
  background-color: var(--white);
  padding: 0.25rem;
  margin: 10px 10px;
  border-radius: 0.5rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  border: 1px solid #ddd; 
}

.search-input-wrapper {
  flex: 1;
}

.search-input-wrapper input {
  width: 100%;
  padding: 0.4rem 0.75rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #f1f1f1;
  outline: none;
  font-size: 0.875rem;
  color: var(--dark);
}

.button {
  padding: 0.4rem 0.8rem;
  border-radius: 0.5rem;
  border: none;
  font-size: 0.85rem;
  font-weight: 500;
  cursor: pointer;
  color: var(--white);
  transition: background-color 0.2s;
  flex-shrink: 0;
}

.search-button {
  background-color: var(--primary);
}
.search-button:hover {
  background-color: #010f8cff;
}

.new-button {
  background-color: var(--secondary);
}
.new-button:hover {
  background-color: #5a6268;
}
